.pie-chart-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.event-bar-chart-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}


/* Card styling */
.card {
  background-color: white;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

/* Button styling (optional: match red theme) */
.btn-danger {
  background-color: #d33a2c;
  border-color: #d33a2c;
}

.btn-danger:hover {
  background-color: #b12d23;
  border-color: #a1281f;
}
