
.login-button {
  background-color: #f07d88;
  color: #fff;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
}

.login-button:hover {
  background-color: rgb(124, 124, 128);
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggle:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: rgb(202, 216, 228);
  font-weight: 500;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: blanchedalmond;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #e0d5d5;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before, .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}


.bg{
  background-image: url('./Background_image/Blood2..jpg');
  width: 1295px;
  height: 870px;
  background-size: contain;
  background-repeat: no-repeat;
}
